<div class="content">
    <div class="form-horizontal">
        <div id="customer-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", new LocalizedString("档案信息"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>
<style type="text/css">
        .containerX span {
            position: relative;
        }

        .containerX label {
            margin: 0;
        }

        .containerX .input_check {
            position: absolute;
            visibility: hidden;
        }

            .containerX .input_check + label {
                display: inline-block;
                width: 16px;
                height: 16px;
                border: 1px solid #ccc;
                margin-bottom: -2px;
            }

            .containerX .input_check:checked + label:after {
                content: "";
                position: absolute;
                left: 3px;
                bottom: 8px;
                width: 9px;
                height: 6px;
                border: 2px solid #fd8845;
                border-top-color: transparent;
                border-right-color: transparent;
                -ms-transform: rotate(-60deg);
                -moz-transform: rotate(-60deg);
                -webkit-transform: rotate(-60deg);
                transform: rotate(-45deg);
            } 
</style>
@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label for="ProfileNo">档案编号</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="ProfileNo" disabled="disabled" value="@ViewBag.ProfileNo" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label for="EmpName">员工名称</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="EmpName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label for="EmpIDNo">身份证号码</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="EmpIDNo" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label for="EmpTelNo">电话号码</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="EmpTelNo" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label for="IsDimissioned">是否离职</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input name="chk" type="radio" value="0" checked="checked" /> 否
                        <input name="chk" type="radio" value="1" /> 是
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label>资料列表</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <span class="containerX">
                            @foreach (var item in ViewBag.CertificationLst)
                            {
                                <span><input name="certification" type="checkbox" class="input_check" value="@Math.Pow(2.0, double.Parse(item.Key))" id="@item.Key"/><label for="@item.Key"></label>&nbsp;@item.Value</span>
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            var $ProfileNo = $("#ProfileNo").val().trim();
            var $EmpName = $("#EmpName").val().trim();
            var $EmpIDNo = $("#EmpIDNo").val().trim();
            var $EmpTelNo = $("#EmpTelNo").val().trim();
            var $IsDimission = $("input[name='chk']:checked").val() == "1" ? true : false;

            $certification = $("input[name='certification']");
            var combineType = 0;
            $certification.each(function (index, item) {
                var $this = $(this);
                if ($this.prop("checked") == true) {
                    combineType += parseInt($this.val(), 2);
                }
            });
            var $RelationVal = combineType;
            $.ajax({
                type: "POST",
                url: "/Profile/Add",
                data: { "ProfileNo": $ProfileNo, "EmpName": $EmpName, "EmpIDNo": $EmpIDNo, "EmpTelNo": $EmpTelNo, "IsDimission": $IsDimission, "RelationVal": $RelationVal },
                success: function (data) {
                    debugger
                    if (data.IsSuccess) {
                        layer.alert("新增成功");
                    } else {
                        layer.alert("新增失败");
                    }
                },
                fail: function (err) {
                    layer.alert("新增异常:" + err);
                }
            })
        });
    })
</script>